.container {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
}

.first-person {
	background: rgb(0, 173, 231);
}

.second-person {
	background: #06c406;
	float: right;
}

.clear {
	clear: both;
	display: block;
	content: "";
	width: 100%;
}

#messageForm {
	text-align: center;
	margin-top: 1.5em;
}

#messageForm input {
	height: 2em;
	width: 23em;
	border-radius: 3em;
	padding: 1em;
}

#messageForm button {
	margin-left: 2em;
	height: 2.7em;
	width: 6.2em;
	border-radius: 25px;
	border: none;
	cursor: pointer;
}

.clear-button {
	background: #d40000;
	color: #fff;
	float: right;
	margin-right: 3em;
	text-align: center;
	height: 2.5em;
	width: 8em;
	cursor: pointer;
}
