.switcher-div {
	padding-top: 1em;
	text-align: center;
}

.switcher {
	background: #cecece;
	color: #141414;
	height: 2.5em;
	width: 6em;
	border-radius: 25px;
	border: 1 px solid black;
	margin-right: 1em;
	cursor: pointer;
}
.notify {
	position: absolute;
	background: #db0000;
	color: white;
	height: 1em;
	width: 1em;
	border-radius: 100%;
	padding: 0.15em;
	margin-left: 0.5em;
	margin-top: -0.5em;
}
